rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Par défaut, accès interdit
    match /{document=**} {
      allow read, write: if false;
    }

    // L'utilisateur a accès à son document et à TOUTES ses sous-collections (shows, settings, reminders, etc.)
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}